NODE_ENV=development
PORT=5001
API_PUBLIC_URL=http://localhost:5001

MONGO_URI=mongodb://localhost:27017/rebel

JWT_SECRET=replace_me_with_a_secure_secret
JWT_EXPIRE=30d

PIPELINE_API_URL=http://localhost:8000

MAGIC_PUBLISHABLE_KEY=pk_live_DAE97419AE6EBC48
MAGIC_SECRET_KEY=sk_live_62123A40F26C62D1

SOLANA_NETWORK=devnet
ADMIN_PRIVATE_KEY=2xLTRMM2L7QLGoKNPmBCLNjXeHRk5pHz8GRC5hq3hFeLVBk2nRcRktad7wVRzaDz7B7MM9kv1zyCp5rangvrj6kV
