AUDIO_STORAGE_MODE=gcs
GCS_BUCKET=rebel-audio-previews
GCP_CREDENTIALS_PATH=secrets/gcp_service_account.json
YTDLP_PLAYER_CLIENTS=android,web
YTDLP_REFERER=https://www.youtube.com/
YTDLP_ORIGIN=https://www.youtube.com
YTDLP_COOKIES_PATH=secrets/youtube_cookies.txt
CLAP_CHECKPOINT_PATH=checkpoints/music_audioset_epoch_15_esc_90.14.pt
CLAP_AMODEL=HTSAT-base
CLAP_ENABLE_FUSION=false
EMBEDDING_SAMPLE_RATE=48000
CLAP_DEVICE=cpu
